@import "../utilities/colors";

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 150px;

  background-color: darken($orange-color, 25%);
  color: #fff;
  font-size: 2.25rem;
  border-radius: 25px;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  text-decoration: none;

  .hover-code {
    position: absolute;
    color: darken($orange-color, 25%);

    &.left {
      left: 20px;
    }

    &.right {
      right: 25px;
    }
  }
}

.button:hover {
  background-color: #111;
  transform: scale(1.05);

  .hover-code {
    color: #fff;
    transition: 0.5s;
  }
}
