@import "../utilities/colors";
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  height: 300vh;
  background-color: $background-color;
  overflow-x: hidden;
  font-family: "Oxygen", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
