#particles-js {
  position: absolute;
  display: block;
  top: 100px;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
}

@media (max-width: 640px) {
  #particles-js {
    top: 200px;
    height: calc(100vh - 200px);
  }
}
