@import "../utilities/colors";
@import "../utilities/mixins";

#main-page {
  @include content-max-width;
  position: relative;
  height: calc(100vh - 100px);
  margin-top: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;

  .double-flex {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    z-index: 1;

    .pixelart-picture {
      border-radius: 25%;
    }

    .wrapper {
      width: 440px;

      h1 {
        display: inline;
        color: #fff;
      }
    }
  }
}

@media (max-width: 640px) {
  #main-page {
    height: calc(100vh - 200px);
    margin-top: 200px;

    .double-flex {
      height: 100%;
      flex-direction: column-reverse;
      font-size: 1rem;

      .wrapper {
        max-width: 240px;
      }

      .pixelart-picture {
        max-width: 150px;
      }
    }
  }
}

@media (max-width: 900px) {
  .double-flex {
    height: 100%;
    flex-direction: column-reverse;
  }
}

@media (orientation: landscape) {
  .pixelart-picture {
    display: none;
  }
}
