@import "../utilities/colors";

#navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100vw;
  top: 0px;
  left: 0px;

  background-color: $dark-one;
  font-size: 2rem;
  z-index: 10;

  ul {
    display: flex;
    gap: 40px;
    padding-right: 50px;

    list-style-type: none;

    a {
      color: #fff;
      font-style: normal;
      text-decoration: none;
      transition: 0.2s;

      &.active {
        color: $orange-color;
      }

      &:hover {
        color: $orange-color;
      }
    }
  }
}

@media (max-width: 640px) {
  #navbar {
    position: absolute;
    justify-content: center;
    height: 200px;

    font-size: 1rem;
    text-align: center;

    ul {
      flex-direction: column;
      gap: 20px;
      padding-right: 0;
    }
  }
}

// Div anchors scrolling too far - fix
@media (min-width: 640px) {
  #about,
  #skills,
  #projects,
  #contact {
    scroll-margin-top: 85px;
  }
}
