@import "../utilities/mixins";

#projects {
  @include content-max-width;
  width: 100%;
  padding: 20px;
  color: #fff;
  font-size: 2rem;
  margin-top: 150px;

  .section-title,
  .visit-github {
    text-align: center;
    margin: 50px;
  }

  .projects-wrapper {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    .project {
      .project-title {
        text-align: center;
      }

      .card {
        height: 400px;
        background-size: cover;
        background-position: center;
        background-image: url(../images/placeholder-image.png);
        transition: 1s;

        .card-hover-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          // justify-content: center;
          color: #000;
          height: 100%;
          width: 100%;
          visibility: hidden;
          opacity: 0;
          transition: 0.5s;

          h4 {
            margin-top: 20px;
          }

          ul {
            text-align: center;
            list-style-type: none;
          }

          .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            gap: 20px;

            .github-button {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              border: none;
              cursor: pointer;
              background-color: #fff;

              &:hover {
                transform: scale(1.05);
              }
            }
          }
        }

        &:hover {
          transition: 0.5s;
          .card-hover-wrapper {
            backdrop-filter: blur(5px);
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  #projects {
    font-size: 1.5rem;
    padding: 0;
  }
}
